# 1.2 Exercise: Exploring a Pandas DataFrame

## Download the Video Game Sales with Ratings dataset from this link: Video Game Sales with Ratings

## Load the dataset as a Pandas data frame

In [2]:
import pandas as pd
df = pd.read_csv("Video_Games_Sales_as_at_22_Dec_2016.csv")

## Display the first ten rows of data

In [3]:
df.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

## Find the dimensions (number of rows and columns) in the data frame
## What do these two numbers represent in the context of the data?

In [4]:
df.shape
# The two numbers represent the number of rows and the number of columns in the dataframe: 16719 rows & 16 columns of data

(16719, 16)

## Find the top five games by critic score.

In [5]:
topscore_df = df.sort_values(by=['Critic_Score'], ascending=False)
topscore_df.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
227,Tony Hawk's Pro Skater 2,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68,98.0,19.0,7.7,299.0,Neversoft Entertainment,T
57,Grand Theft Auto IV,PS3,2008.0,Action,Take-Two Interactive,4.76,3.69,0.44,1.61,10.50,98.0,64.0,7.5,2833.0,Rockstar North,M
51,Grand Theft Auto IV,X360,2008.0,Action,Take-Two Interactive,6.76,3.07,0.14,1.03,11.01,98.0,86.0,7.9,2951.0,Rockstar North,M
5350,SoulCalibur,DC,1999.0,Fighting,Namco Bandai Games,0.00,0.00,0.34,0.00,0.34,98.0,24.0,8.8,200.0,Namco,T
165,Grand Theft Auto V,XOne,2014.0,Action,Take-Two Interactive,2.81,2.19,0.00,0.47,5.48,97.0,14.0,7.9,764.0,Rockstar North,M

## Find the number of video games in the data frame in each genre

In [6]:
df.groupby(['Genre']).agg(['count'])
# See "name count" column for number of video games in each genre

,Name,Platform,Year_of_Release,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
,count,count,count,count,count,count,count,count,count,count,count,count,count,count,count
Genre,,,,,,,,,,,,,,,
Action,3370,3370,3308,3364,3370,3370,3370,3370,3370,1890,1890,2206,1830,2226,2188
Adventure,1303,1303,1293,1299,1303,1303,1303,1303,1303,323,323,459,300,469,446
Fighting,849,849,837,847,849,849,849,849,849,409,409,438,399,440,438
Misc,1750,1750,1721,1723,1750,1750,1750,1750,1750,523,523,888,439,886,882
Platform,888,888,878,887,888,888,888,888,888,497,497,567,428,569,569
Puzzle,580,580,569,580,580,580,580,580,580,224,224,339,128,347,342
Racing,1249,1249,1226,1248,1249,1249,1249,1249,1249,742,742,874,641,884,872
Role-Playing,1500,1500,1483,1499,1500,1500,1500,1500,1500,737,737,773,743,788,777
Shooter,1323,1323,1296,1321,1323,1323,1323,1323,1323,944,944,1023,924,1025,1019
Simulation,874,874,858,870,874,874,874,874,874,352,352,582,344,584,569
Sports,2348,2348,2306,2345,2348,2348,2348,2348,2348,1194,1194,1516,1103,1526,1509
Strategy,683,683,673,680,683,683,683,683,683,302,302,350,311,352,339

## Find the first five games in the data frame on the SNES platform

In [7]:
grouped_df = df.loc[df['Platform'] == "SNES"]
grouped_df.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
18,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,NaN,NaN,NaN,NaN,NaN,NaN
56,Super Mario All-Stars,SNES,1993.0,Platform,Nintendo,5.99,2.15,2.12,0.29,10.55,NaN,NaN,NaN,NaN,NaN,NaN
71,Donkey Kong Country,SNES,1994.0,Platform,Nintendo,4.36,1.71,3.00,0.23,9.30,NaN,NaN,NaN,NaN,NaN,NaN
76,Super Mario Kart,SNES,1992.0,Racing,Nintendo,3.54,1.24,3.81,0.18,8.76,NaN,NaN,NaN,NaN,NaN,NaN
137,Street Fighter II: The World Warrior,SNES,1992.0,Fighting,Capcom,2.47,0.83,2.87,0.12,6.30,NaN,NaN,NaN,NaN,NaN,NaN

## Find the five publishers with the highest total global sales. 
## Note: You will need to calculate the total global sales for each publisher to do this.

In [8]:
df[['Publisher', 'Global_Sales']].groupby(['Publisher']).sum().sort_values(by='Global_Sales', ascending=False).head(n=5)

                             Global_Sales
Publisher
Nintendo                          1788.81
Electronic Arts                   1116.96
Activision                         731.16
Sony Computer Entertainment        606.48
Ubisoft                            471.61

## Create a new column in the data frame that calculates the percentage of global sales from North America. 
## Display the first five rows of the new data frame.

In [63]:
df["Percentage_NASales_GlobalSales"] = (df["NA_Sales"] / df["Global_Sales"]*100)
df.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,Percentage_NASales_GlobalSales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,50.115110
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,72.266402
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,44.144144
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,47.635032
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,35.926044

## Find the number NaN entries (missing data values) in each column.

In [64]:
def describe_nan(df):
    return pd.DataFrame([(i, df[df[i].isna()].shape[0],df[df[i].isna()].shape[0]/df.shape[0]) for i in df.columns], columns=['column', 'nan_counts', 'nan_rate'])

describe_nan(df)

                            column  nan_counts  nan_rate
0                             Name           2  0.000120
1                         Platform           0  0.000000
2                  Year_of_Release         269  0.016089
3                            Genre           2  0.000120
4                        Publisher          54  0.003230
5                         NA_Sales           0  0.000000
6                         EU_Sales           0  0.000000
7                         JP_Sales           0  0.000000
8                      Other_Sales           0  0.000000
9                     Global_Sales           0  0.000000
10                    Critic_Score        8582  0.513308
11                    Critic_Count        8582  0.513308
12                      User_Score        6704  0.400981
13                      User_Count        9129  0.546025
14                       Developer        6623  0.396136
15                          Rating        6769  0.404869
16  Percentage_NASales_GlobalSales           0  0.000000

## Try to calculate the median user score of all the video games. 
## You will likely run into an error because some of the user score entries are a non-numerical string that cannot be converted to a float.

In [69]:
df.head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,Percentage_NASales_GlobalSales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,50.115110
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,72.266402
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,44.144144
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,47.635032
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,35.926044

In [89]:
## Find and replace this string with NaN
import numpy as np
median_df = df
median_df = median_df.replace('tbd', np.nan)
median_df.head(122)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,Percentage_NASales_GlobalSales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,50.115110
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,72.266402
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,44.144144
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,47.635032
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,35.926044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Gears of War 2,X360,2008.0,Shooter,Microsoft Game Studios,4.15,1.90,0.06,0.64,6.75,93.0,90.0,7.7,2739.0,Epic Games,M,61.481481
118,Uncharted 3: Drake's Deception,PS3,2011.0,Action,Sony Computer Entertainment,2.77,2.75,0.19,1.03,6.74,92.0,97.0,8.3,3712.0,Naughty Dog,T,41.097923
119,Zumba Fitness,Wii,2010.0,Sports,505 Games,3.45,2.59,0.00,0.66,6.71,NaN,NaN,NaN,NaN,"Pipeworks Software, Inc.",E,51.415797
120,Call of Duty 4: Modern Warfare,PS3,2007.0,Shooter,Activision,3.11,2.26,0.28,1.03,6.68,94.0,44.0,8.4,993.0,Infinity Ward,M,46.556886
121,Uncharted 2: Among Thieves,PS3,2009.0,Action,Sony Computer Entertainment,3.27,2.20,0.21,0.98,6.66,96.0,105.0,8.8,5187.0,Naughty Dog,T,49.099099

In [91]:
## Then calculate the median. 
median_value = median_df["User_Score"].median()
print(median_value)

7.5

In [93]:
## Then, replace all NaN entries in the user score column with the median value.
median_df['User_Score'].fillna(value=median_df['User_Score'].median(), inplace=True)
median_df.head(122)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,Percentage_NASales_GlobalSales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,50.115110
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,7.5,NaN,NaN,NaN,72.266402
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,44.144144
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,47.635032
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,7.5,NaN,NaN,NaN,35.926044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Gears of War 2,X360,2008.0,Shooter,Microsoft Game Studios,4.15,1.90,0.06,0.64,6.75,93.0,90.0,7.7,2739.0,Epic Games,M,61.481481
118,Uncharted 3: Drake's Deception,PS3,2011.0,Action,Sony Computer Entertainment,2.77,2.75,0.19,1.03,6.74,92.0,97.0,8.3,3712.0,Naughty Dog,T,41.097923
119,Zumba Fitness,Wii,2010.0,Sports,505 Games,3.45,2.59,0.00,0.66,6.71,NaN,NaN,7.5,NaN,"Pipeworks Software, Inc.",E,51.415797
120,Call of Duty 4: Modern Warfare,PS3,2007.0,Shooter,Activision,3.11,2.26,0.28,1.03,6.68,94.0,44.0,8.4,993.0,Infinity Ward,M,46.556886
121,Uncharted 2: Among Thieves,PS3,2009.0,Action,Sony Computer Entertainment,3.27,2.20,0.21,0.98,6.66,96.0,105.0,8.8,5187.0,Naughty Dog,T,49.099099